<div class="container mt-5">
    <h2 class="mb-4">Crear Reserva</h2>

    <form asp-action="CrearReserva" method="post">        
        <div class="mb-3">
            <label for="fechaCheckIn" class="form-label">Ingrese una fecha de CheckIn</label>
            <input type="date" class="form-control" name="fechaCheckIn" id="fechaCheckIn" required min="@ViewBag.Hoy"/>
        </div>

        <div class="mb-3">
            <label for="fechaCheckOut" class="form-label">Ingrese una fecha de CheckOut</label>
            <input type="date" class="form-control" name="fechaCheckOut" id="fechaCheckOut" required min="@ViewBag.Manana"/>
        </div>

        <div class="mb-3">
            <label for="tipoHab" class="form-label">Seleccione un tipo de Habitacion</label>
            <select class="form-select" name="tipoHab" id="tipoHab" required>
                <option value="">--Por favor seleccione una opcion--</option>
                <option value="Simple">Simple</option>
                <option value="Doble">Doble</option>
                <option value="Suite">Suite</option>
            </select>
        </div>

        <div class="mb-3">
            <input type="hidden" id="userId" name="idUsuario" value="@ViewBag.IdUsuario" />
            <p>idUsuario: @ViewBag.IdUsuario</p>

            @* <label for="idUsuario" class="form-label">Seleccione el Usuario</label>
            <select class="form-select" name="idUsuario" id="idUsuario" required>
                <option value="">--Por favor seleccione un usuario--</option>
                @foreach(var user in ViewBag.Usuarios)
                {
                    <option value="@user.Id">@user.Nombre @user.Apellido </option>
                }
            </select> *@
        </div>

        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Crear Reserva">
            <a asp-action="Index" class="btn btn-outline-secondary" asp-route-id="@ViewBag.IdUsuario" title="Regresar al listado">
                <i class="fas fa-arrow-left"></i> Regresar al Listado
            </a>
        </div>
        
    </form>

    @* Mensaje que se muestra si no hay unidades de ese tipo disponibles en ese rango de fecha *@
    @if(TempData["Error"] != null) 
    {
        <div>
            <p>@TempData["Error"].ToString()</p>
        </div>

    }

    @* Mensaje que se muestra si la fecha Check Out es menor a fecha Check In *@
    @if (TempData["ErrorFecha"] != null)
    {
        <div>
            <p>@TempData["ErrorFecha"].ToString()</p>
        </div>

    }

    @* Mensaje que se muestra si la reserva supera los 30 dias *@
    @if (TempData["ErrorDuracion"] != null)
    {
        <div>
            <p>@TempData["ErrorDuracion"].ToString()</p>
        </div>

    }
</div>
