@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <div class="container">
        <h1 class="mb-4">Reservas</h1>

        <a asp-controller="Reserva" asp-action="Create" class="btn btn-primary">Crear Reserva</a>
    </div>

    @if (ViewBag.Reservas != null && ViewBag.Reservas.Count > 0)
    {
        <div class="container mt-5">
            <h2>Reservas Activas</h2>
            <table class="table table-striped">        
                <theadclass ="thead-dark">
                    <tr>
                        <th>N° Reserva</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>N° Habitacion</th>
                        <th>Tipo Habitacion</th>
                        <th>Fecha Check In</th>
                        <th>Fecha Check Out</th>
                        <th>Acciones</th>
                    </tr>
                </theadclass>
                <tbody>        
                    @foreach (Reserva reserva in ViewBag.Reservas)
                    {
                        <tr>
                            <td>@reserva.IDReserva</td>
                            <td>@reserva.Usuario.Nombre</td>
                            <td>@reserva.Usuario.Apellido</td>
                            <td>@reserva.Habitacion.NumHabitacion</td>
                            <td>@reserva.Habitacion.TipoHabitacion</td>
                            <td>@reserva.FechaCheckIn</td>
                            <td>@reserva.FechaCheckOut</td>                    
                            <td>
                                <a asp-action="Edit" asp-route-id="@reserva.IDReserva" class="btn btn-primary" title="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-action="EliminarReserva" asp-route-id="@reserva.IDReserva" class="btn btn-danger" title="Delete"
                                   onclick="return confirm('¿Estás seguro de que deseas borrar esta reserva?');">
                                    <i class="fas fa-trash-alt"></i>
                                </a>                                
                            </td>                    
                        </tr>
                    }
                </tbody> 
            </table>
        </div>
    }else
    {
        <div class="container mt-5">
            <p>No tienes reservas generadas</p>
        </div>
    }
</div>
